<section class="admin-products-new">

  <header class="page-header">
    <h2>Dashboard</h2>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h4>Category</h4>
        </td>
        <td>
          <%= @num_of_categories %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Product</h4>
        </td>
        <td>
          <%= @num_of_products %>
        </td>
    </tr>
    </tbody>
  </table>
</section>