<section>

  <header class="page-header">
    <h1>About</h1>
  </header>

  <p>Thank you for coming to check out our updated Jungle!</p>

  <p>Since 2015, we have featured innovative products, and unique treasures. Recently, our creator has developed quite the green thumb and has decided to dedicate this website so sharing that passion with others.
  </p>  
  
  <p>You will find many products available for purchase to either grow your own plant collection, or even purchase as gift for that plant lover in your life. Take a look around and break out those credit cards!
  </p>
</section>



